{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
%}

<footer id="footer" style="background-color:{{ section.settings.bg_color_footer }}" class="{{ section.settings.font_color }} {{ pt }} {{ pb }}">
    <div class="container">
        <div id="footer-blocks" class="list-unstyled row mb-10">
                <div class="col-6 col-lg-3">
                {% for link in linklists[settings.footer_1].links %}
                    <li class="nav-item">
                        <a href="{{ link.url }}" 
                           class="nav-link" 
                           target="{% if link.type == 'http_link'%}_black {% endif %}"
                        >
                            {{ link.title }}
                        </a>
                    </li>
                {% endfor %}
                </div>
                <div class="col-6 col-lg-3">
                    {% for link in linklists[settings.footer_2].links %}
                        <li class="nav-item">
                            <a href="{{ link.url }}" 
                               class="nav-link" 
                               target="{% if link.type == 'http_link'%}_black {% endif %}"
                            >
                                {{ link.title }}
                            </a>
                        </li>
                    {% endfor %}
                </div>
                <div class="col-6 col-lg-3">
                    {% for link in linklists[settings.footer_3].links %}
                        <li class="nav-item">
                            <a href="{{ link.url }}" 
                               class="nav-link" 
                               target="{% if link.type == 'http_link'%}_black {% endif %}"
                            >
                                {{ link.title }}
                            </a>
                        </li>
                    {% endfor %}
                </div>
                <div class="col-6 col-lg-3">
                    {% for link in linklists[settings.footer_4].links %}
                        <li class="nav-item">
                            <a href="{{ link.url }}" 
                               class="nav-link" 
                               target="{% if link.type == 'http_link'%}_black {% endif %}"
                            >
                                {{ link.title }}
                            </a>
                        </li>
                    {% endfor %}
                </div>
        </div>

        <div id="footer-copyright" class="row">
            <div class="col-md-8">
                <p class="copy text-center text-md-start mb-0">
                    &copy; 1996-{{ 'now' | date: "%Y" }} Hyper Island
                </p>
                <p class="info text-center text-md-start">
                    {{ settings.info_one }}
                </p>
                <p class="info text-center text-md-start">
                    {{ settings.info_two }}
                </p>
            </div>
        
            <div class="col-md-4 d-lg-flex flex-lg-row justify-content-lg-end align-items-end">
            {% if section.settings.show_social_icons %}
            
                <div class="social-icons-wrapper">
                    <small class="opacity-75 lh-sm visually-hidden">
                        {{ 'general.general.follow_us' | t }}
                    </small>
                    {% render 'social-icons', icon_size: 18 %}
                </div>
            {% endif %}
            </div>

        </div>
    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "color",
            "id": "bg_color_footer",
            "label": "Background color",
            "default": "#FF7300"
        },
        {
            "type": "select",
            "id": "font_color",
            "label": "Font Color",
            "options": [
                {
                    "value": "text-dark",
                    "label": "Dark"
                  },
                {
                    "value": "text-light",
                    "label": "White"
                }
            ],
            "default": "text-dark"
        },
        {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social icons",
            "default": true
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 11
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 6
        }
    ]
}
{% endschema %}