<header 
    class="bg-size-cover bg-position-center position-relative px-lg-12 px-md-4 px-4 {% if section.settings.default_spacing != true %} py-12 py-md-14 py-lg-16 py-xl-18 py-xxl-20 {% endif %}" 
    {% if section.settings.bg_image %} data-bg-src="{{ section.settings.bg_image | image_url }}" {% endif %}
    {% if section.settings.bg_gradient != blank %} 
    style="background: {{ section.settings.bg_gradient }}"
    {% else %}
    style="background-color: {{section.settings.bg_color }}"
    {% endif %}
    
>
    <div class="top-0 start-0 bottom-0 end-0 zi-0 opacity-{{ section.settings.overlay_opacity }} bg-bg-1 w-100 h-100 position-absolute mw-100 mh-100">
    </div>
    <div class="position-relative zi-1 text-xl-start container-fluid">
        <div class="row align-items-center flex-md-row-reverse bg-size-cover bg-position-top-left">
            <div class="col-12">
                <div class="mb-{{ section.settings.mb_sm }} mt-{{ section.settings.mt_sm }} pb-{{ section.settings.pb_sm }} pt-{{ section.settings.pt_sm }} mb-lg-{{ section.settings.mb_lg }} mt-lg-{{ section.settings.mt_lg }} pb-lg-{{ section.settings.pb_lg }} pt-lg-{{ section.settings.pt_lg }}  mb-xl-{{ section.settings.mb_xl }} mt-xl-{{ section.settings.mt_xl }} pb-xl-{{ section.settings.pb_xl }} pt-xl-{{ section.settings.pt_xl }}">
                    <div class="row {{section.settings.align_desktop}} {{section.settings.align_mobile}} ">
                        <div class="g-0 col-lg-12">
                            {% if section.settings.title != blank %}
                                <h1 class="mb-6 text-uppercase {{section.settings.font_color}} {{section.settings.title_size}} {{section.settings.content_width}} " data-aos="fade-down" data-aos-delay="150">
                                    {{ section.settings.title }}
                                </h1>
                            {% endif %}
                            {% if section.settings.text != blank %}
                            <p class="mb-8 {{section.settings.text_size}} {{section.settings.font_color}} {{section.settings.content_width}}" data-aos="fade-down" data-aos-delay="250">
                                {{ section.settings.text }}                            
                            </p>
                        {% endif %}
                            {% for block in section.blocks %}
                            <a href="{{ block.settings.url }}" 
                               class="btn {{ block.settings.style }} btn-border me-2 mb-3" 
                               data-aos="fade-down" 
                               target="{% if block.settings.target == true %}_black{% else %}_self{% endif %}"
                               data-aos-delay="{{ 100 | times: forloop.index | plus: 350 }}" >
                               
                                {{ block.settings.text }} 
                            </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% schema %}
{
  "name": "Header Hero Full",
  "settings": [
    {
        "type": "header",
        "content": "Content"
    },
    {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title",
        "default": "COCRIANDO FUTUROS"
    },
    {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text",
        "default": "Cocriação e aprendizagem contínua. Metodologias interativas e imersivas que preparam pessoas e organizações para novos futuros possíveis."
    },
    {
        "type": "header",
        "content": "Background Style"
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Backgorund Color",
        "default": "#E3DFD3"
    },
    {
        "type": "color_background",
        "id": "bg_gradient",
        "label": "Backgorund Gradient"
    },
    {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Backgorund Image"
    },
    {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay Opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "default": 0
    },
    {
        "type": "header",
        "content": "Typography Style"
    },
    {
        "type": "select",
        "id": "font_color",
        "label": "Font Color Options",
        "options": [
            {
                "value": "text-dark",
                "label": "Dark"
              },
            {
                "value": "text-light",
                "label": "White"
            }
        ],
        "default": "text-dark"
    },
    {
        "type": "select",
        "id": "title_size",
        "label": "Title Font Size",
        "options": [
            {
                "value": "display-1",
                "label": "5.5 rem (88px)"
              },
            {
                "value": "display-2",
                "label": "5 rem (80px)"
            },
            {
                "value": "display-3",
                "label": "4.5 rem (72px)"
            },
            {
                "value": "display-4",
                "label": "3.75 rem (60px)"
            },
            {
                "value": "display-5",
                "label": "3 rem (48px)"
            },
            {
                "value": "display-6",
                "label": "2.5 rem (40px)"
            }

        ],
        "default": "display-1"
    },
    {
        "type": "select",
        "id": "text_size",
        "label": "Text Font Size",
        "options": [
            {
                "value": "fs-1",
                "label": "1.5 rem (24px)"
              },
            {
                "value": "fs-2",
                "label": "1.375 rem (22px)"
            },
            {
                "value": "fs-3",
                "label": "1.25 rem (20px)"
            },
            {
                "value": "fs-4",
                "label": "1.125 rem (18px)"
            },
            {
                "value": "fs-5",
                "label": "0.875 rem (14px)"
            },
            {
                "value": "fs-6",
                "label": "0.75 rem (12px)"
            }

        ],
        "default": "fs-4"
    },
    {
        "type": "header",
        "content": "Layout Settings"
    },
    {
        "type": "select",
        "id": "align_desktop",
        "label": "Content Align (Desktop)",
        "options": [
            {
                "value": "text-lg-left",
                "label": "Left"
                },
            {
                "value": "text-lg-center",
                "label": "Center"
            }
        ],
        "default": "text-lg-left"
    },
    {
        "type": "select",
        "id": "align_mobile",
        "label": "Content Align (Mobile)",
        "options": [
            {
                "value": "text-left",
                "label": "Left"
                },
            {
                "value": "text-center",
                "label": "Center"
            }
        ],
        "default": "text-left"
    },
    {
        "type": "select",
        "id": "content_width",
        "label": "Content Width (Desktop)",
        "options": [
            {
                "value": "w-lg-auto",
                "label": "auto"
            },
            {
                "value": "w-lg-100",
                "label": "100%"
            },
            {
                "value": "w-lg-75",
                "label": "75%"
            },
            {
                "value": "w-lg-50",
                "label": "50%"
            },
            {
                "value": "w-lg-25",
                "label": "25%"
            }
        ],
        "default": "w-lg-auto"
    },
    {
        "type": "header",
        "content": "Spacing (General)"
    },
    {
        "type": "checkbox",
        "id": "default_spacing",
        "label": "Remove Default Spacing"
    },
    {
        "type": "header",
        "content": "Spacing (Extra Large Desktop)"
    },
    {
        "type": "range",
        "id": "pt_xl",
        "label": "Extra Padding Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "range",
        "id": "pb_xl",
        "label": "Extra Padding Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "range",
        "id": "mt_xl",
        "label": "Extra Margin Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "range",
        "id": "mb_xl",
        "label": "Extra Margin Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "header",
        "content": "Spacing (Desktop)"
    },
    {
        "type": "range",
        "id": "pt_lg",
        "label": "Extra Padding Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "range",
        "id": "pb_lg",
        "label": "Extra Padding Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "range",
        "id": "mt_lg",
        "label": "Extra Margin Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "range",
        "id": "mb_lg",
        "label": "Extra Margin Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "header",
        "content": "Spacing Options (Mobile)"
    },
    {
        "type": "range",
        "id": "pt_sm",
        "label": "Extra Padding Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "range",
        "id": "pb_sm",
        "label": "Extra Padding Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "range",
        "id": "mt_sm",
        "label": "Extra Margin Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "range",
        "id": "mb_sm",
        "label": "Extra Margin Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    }
    
  ],
  "blocks": [
    {
        "type": "button",
        "name": "Button",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "Button Text",
                "default": "Call to Action"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Buttom Link"

            },
            {
                "type": "checkbox",
                "id": "target",
                "label": "Open In a New Tab"
            },
            {
                "type": "select",
                "id": "style",
                "label": "Button Style",
                "options": [
                    {
                        "value": "rounded-orange",
                        "label": "Rounded Orange"
                      },
                    {
                        "value": "rounded-black",
                        "label": "Rounded Black"
                    },
                    {
                        "value": "rounded-white",
                        "label": "Rounded White"
                    },
                    {
                        "value": "rounded-orange btn-border",
                        "label": "Rounded Orange Border"
                      },
                    {
                        "value": "rounded-black btn-border",
                        "label": "Rounded Black Border"
                    },
                    {
                        "value": "rounded-white btn-border",
                        "label": "Rounded White Border"
                    }

                ],
                "default": "rounded-white"
            }
        ]
    }
    ],
  "presets": [{
    "name": "Header Hero Full"
  }]
}
{% endschema %} 