<section 
    class="pb-lg-{{section.settings.spb_lg}} mb-lg-{{section.settings.smb_lg}} pb-{{section.settings.spb_xs}} mb-{{section.settings.smb_xs}} pt-lg-{{section.settings.pt_lg}} mt-lg-{{section.settings.mt_lg}} pt-{{section.settings.pt_xs}} mt-{{section.settings.mt_xs}}"
    {% if section.settings.bg_gradient != blank %} 
    style="background: {{ section.settings.bg_gradient }}"
    {% else %}
    style="background-color: {{ section.settings.bg_color }}"
    {% endif %}
    
>

    <div class="position-relative zi-1 text-xl-start container">
        {% comment %} {% if section.settings.hidden != true %}
            <div class="row align-items-center flex-md-row-reverse bg-size-cover bg-position-top-left">
                <div class="col-12">
                    <div class="mb-{{ section.settings.mb_sm }} mt-{{ section.settings.mt_sm }} pb-{{ section.settings.pb_sm }} pt-{{ section.settings.pt_sm }} mb-lg-{{ section.settings.mb_lg }} mt-lg-{{ section.settings.mt_lg }} pb-lg-{{ section.settings.pb_lg }} pt-lg-{{ section.settings.pt_lg }}  mb-xl-{{ section.settings.mb_xl }} mt-xl-{{ section.settings.mt_xl }} pb-xl-{{ section.settings.pb_xl }} pt-xl-{{ section.settings.pt_xl }}">
                        <div class="row {{section.settings.align_desktop}} {{section.settings.align_mobile}}">
                            <div class=" col-lg-12">
                                {% if section.settings.svg != blank %}
                                    {{ section.settings.svg }}
                                {% endif %}
                                {% if section.settings.header != blank %}
                                    <p class="text-decoration-underline text-uppercase fw-bold {{section.settings.content_width}} {{section.settings.font_color}} {{section.settings.font_color}}text-uppercase {{section.settings.header_size}}">
                                        {{ section.settings.header }}
                                    </p>
                                {% endif %}
                                {% if section.settings.title != blank %}
                                    <h1 class="mb-6 {{section.settings.font_color}} {{section.settings.title_size}} {{section.settings.content_width}} " data-aos="fade-down" data-aos-delay="150">
                                        {{ section.settings.title }}
                                    </h1>
                                {% endif %}
                                {% if section.settings.text != blank %}
                                <p class="pb-0 mb-0 {{section.settings.text_size}} {{section.settings.font_color}} {{section.settings.content_width}}" data-aos="fade-down" data-aos-delay="250">
                                    {{ section.settings.text }}                            
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %} {% endcomment %}
        <div class="row py-4 text-center text-lg-left ">
            {% for block in section.blocks %}
            <div class="{{ section.settings.layout }}">               
                <div class="row depo">
                    {% if block.settings.img != blank %}
                    <div class="col-12 col-md-3 col-lg-2 px-16 py-6 px-md-4 p-lg-0">
                        <img src="{{ block.settings.img | image_url }}" alt="{{ block.settings.name }}" class="img-fluid rounded-circle">
                    </div>
                   
                    <div class="col-12 col-md-9 col-lg-10 pe-2">
                        <p class="depo-text">
                            {{ block.settings.text }}
                        </p>
                        <h6 class="mb-0 depo-name  mt-2 mb-12 mt-lg-0 mb-lg-0">
                            {{ block.settings.name }}
                        </h6>
                    </div>

                    {% else %}
                    <div class="col-12">
                        <p class="depo-text  mt-5 mt-lg-0">
                            {{ block.settings.text }}
                        </p>
                        <h6 class="mb-0 depo-name">
                            {{ block.settings.name }}
                        </h6>
                    </div>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "HI23 Testimonial Section",
  "settings": [
    {
        "type": "color",
        "id": "bg_color",
        "label": "Backgorund Color",
        "default": "#ffffff"
    },
    {
        "type": "color_background",
        "id": "bg_gradient",
        "label": "Backgorund Gradient"
    },
    {
        "type": "select",
        "id": "font_color",
        "label": "Font Color Options",
        "options": [
            {
                "value": "text-dark",
                "label": "Dark"
              },
            {
                "value": "text-light",
                "label": "White"
            }
        ],
        "default": "text-dark"
    },
    {
        "type": "select",
        "id": "title_size",
        "label": "Title Font Size",
        "options": [
            {
                "value": "display-1",
                "label": "5.5 rem (88px)"
              },
            {
                "value": "display-2",
                "label": "5 rem (80px)"
            },
            {
                "value": "display-3",
                "label": "4.5 rem (72px)"
            },
            {
                "value": "display-4",
                "label": "3.75 rem (60px)"
            },
            {
                "value": "display-5",
                "label": "3 rem (48px)"
            },
            {
                "value": "display-6",
                "label": "2.5 rem (40px)"
            }

        ],
        "default": "display-4"
    },
    {
        "type": "select",
        "id": "text_size",
        "label": "Text Font Size",
        "options": [
            {
                "value": "fs-1",
                "label": "1.5 rem (24px)"
              },
            {
                "value": "fs-2",
                "label": "1.375 rem (22px)"
            },
            {
                "value": "fs-3",
                "label": "1.25 rem (20px)"
            },
            {
                "value": "fs-4",
                "label": "1.125 rem (18px)"
            },
            {
                "value": "fs-5",
                "label": "0.875 rem (14px)"
            },
            {
                "value": "fs-6",
                "label": "0.75 rem (12px)"
            }

        ],
        "default": "fs-4"
    },
    {
        "type": "select",
        "id": "layout",
        "label": "Content Columns Layout (Desktop)",
        "options": [
            {
                "value": "col-md-12",
                "label": "One Column"
            },
            {
                "value": "col-md-6",
                "label": "Two Columns"
            },
            {
                "value": "col-lg-4",
                "label": "Three Columns"
            },
            {
                "value": "col-lg-3",
                "label": "Four Columns"
            }
        ],
        "default": "col-md-6"
    },
    {
        "type": "header",
        "content": "Spacing Top Section (Desktop)"
    },
    {
        "type": "range",
        "id": "pt_lg",
        "label": "Extra Padding Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 12
    },
    {
        "type": "range",
        "id": "mt_lg",
        "label": "Extra Margin Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "header",
        "content": "Spacing Top Section (Mobile)"
    },
    {
        "type": "range",
        "id": "pt_xs",
        "label": "Extra Padding Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 6
    },
    {
        "type": "range",
        "id": "mt_xs",
        "label": "Extra Margin Top",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "header",
        "content": "Spacing Bottom Section (Desktop)"
    },
    {
        "type": "range",
        "id": "spb_lg",
        "label": "Extra Padding Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 12
    },
    {
        "type": "range",
        "id": "smb_lg",
        "label": "Extra Margin Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    },
    {
        "type": "header",
        "content": "Spacing Bottom Section (Mobile)"
    },
    {
        "type": "range",
        "id": "spb_xs",
        "label": "Extra Padding Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 6
    },
    {
        "type": "range",
        "id": "smb_xs",
        "label": "Extra Margin Bottom",
        "min": 0,
        "max": 20,
        "step": 1,
        "default": 0
    }
  ],
  "blocks": [
    {
        "type": "content",
        "name": "Testimonial",
        "settings": [
            {
                "type": "header",
                "content": "Testimonial"
            },
            {
                "type": "text",
                "id": "name",
                "label": "Name",
                "default": "Elon Musk"
            },
            {
                "type": "inline_richtext",
                "id": "text",
                "label": "Text",
                "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet justo donec enim diam vulputate. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Tincidunt id aliquet risus feugiat in ante. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla."
            },
            {
                "type": "image_picker",
                "id": "img",
                "label": "Image"
            }

        ]
    }
    ],
  "presets": [{
    "name": "HI23 Testimonial"
  }]
}
{% endschema %} 